html, body {
  height: 100%;
  margin: 0px;
  background-color: black;
  color: white;
  display: block;
}

.App {
}

.animation {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin: 0;
  padding: 0;
  border-bottom: solid thin;
  border-color: #61dafb;
  background-color: black;
  padding-left: 40px;
  overflow: hidden;
}

.navitem {
  display: block;
  float: left;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  padding: 14px 25px;
}

.navitem:hover {
  background-color: rgb(45, 45, 45);
}

.textblock {
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 8%;
  padding-right: 8%;
  display: block;
  height: 100vh;
  border: 3px solid green;
}

.textblock p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.textblock a {
  color: #61dafb
}