.App {
  text-align: center;
  display: block;
  grid-template-columns: 100%;
  grid-template-rows: 8.5vh 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.animation {
  display: block;
  grid-row: 1 / 3;
  grid-column: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin: 0;
  padding: 0;
  border-bottom: solid thin;
  border-color: #61dafb;
  background-color: black;
  padding-left: 40px;
  overflow: hidden;
}

.navitem {
  display: block;
  color: white;
  float: left;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  padding: 14px 25px;
}

.navitem:hover {
  background-color: rgb(63, 63, 63);
}